.container {
  padding: 1rem;
}

.heading {
  font-size: 1rem;
  margin: 5px 0;
}

.message {
  color: black;
  font-size: 16px;
  margin: 5px 0px;
}

.chat-input {
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 10px;
}

.button {
  margin-left: 5px;
  border-radius: 10px;
  background: white;
  color: black;
  padding: 5px 8px;
  outline: none;
}
